---
//@ts-nocheck
const fashionUrl = "https://kea-alt-del.dk/t7/api/products";
const data = await fetch(fashionUrl).then((res) => res.json());
console.log(data);

import ProductCard from "./ProductCard.astro";
---

<h1>Productlist</h1>

<main>
  {data.map((product) => <ProductCard {product} />)}
</main>
